.recipe {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  &__like-button {
    width: 3rem;
    position: absolute;
    left: 1rem;
  }

  &__image {
    width: 300px;
    height: 200px;
    border-radius: 2rem;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__text-wrapper {
    padding: 1rem;
  }

  &__summary {
    height: 20rem;
  }

  &__button {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 1rem;
    margin: 1rem 0;
  }

  &__link {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    border-radius: 2rem;
    width: 39vw;
  }
}
