.recipe {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  width: 80%;

  &__like-button {
    width: 3rem;
    position: absolute;
    left: 1rem;
  }

  &__image {
    width: 300px;
    height: 200px;
    border-radius: 2rem;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__text-wrapper {
    padding: 1rem;
  }

  &__button {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 1rem;
    margin: 1rem 0;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
