.recipe-page {
  &__form {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__title {
    text-align: center;
  }

  &__button {
    background-color: white;
    opacity: 0.6;
    border: 1px solid gray;
    border-radius: 1.2rem;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: gray;
  }

  &__submit {
    border: 0px;
    padding: 0 1rem;
    background-color: transparent;
    color: lightskyblue;
  }
}

.custom-select {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  margin: 1rem;
  position: relative;
}
